.img-overlay {
    max-width: 500px;
    height: 500px;
    padding: 10px;
}

      .img-overlay button {
        right: 0px;
        margin-top: 20px;
        margin-right: 20px;
        float: right;
        border: none;
        padding: 8px 16px;
        border-radius: 10px;
        background-color: #fcfcfc;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
      }